@media (max-width: 576px) {
  section,
  #goal,
  #personal-info {
    padding: 52px 18px;
  }

  #banner span {
    font-size: 16px;
  }

  #banner h1 {
    font-size: 36px;
  }

  #about {
    padding: 0;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }

  #job-info {
    padding-left: 12px;
    padding-right: 12px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  #job-info .past-acts,
  #job-info .personal {
    padding: 24px;
  }

  #certificate .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .cert-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    gap: 8px;
  }

  #project .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  #footer {
    padding: 18px;
  }

  #footer ul {
    gap: 16px;
    flex-direction: column;
  }
}
