@media (max-width: 576px) {
  #banner span {
    font-size: 16px;
  }

  #banner h1 {
    font-size: 36px;
  }

  #about {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  
  #goal,
  #personal-info {
    padding: 52px 18px;
  }

  #job-info {
    padding-left: 12px;
    padding-right: 12px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  #job-info .past-acts,
  #job-info .personal {
    padding: 24px;
  }
}
