@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

/* MAIN COLOR: #0c4a6e 
    GREY COLOR: #111827*/

/* General styles */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Inter", Helvetica, sans-serif;
  color: #111827;
}

h1 {
  letter-spacing: -1px;
}

.bg-grey {
  background: #f3f4f6;
}

section {
  padding: 52px 300px;
}

/* nav bar section */

#nav-bar {
  padding-top: 8px;
  padding-bottom: 8px;

  display: flex;
  align-items: center;
}

#nav-bar h1 {
  margin-right: auto;
  font-size: 32px;
}

/* #nav-bar * {
  height: 58px;
} */

.nav-links {
  /* flex settings */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

#nav-bar a {
  text-decoration: none;
  color: #111827;
  padding: 12px;

  /* flex settings */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

/* Banner section */

#banner {
  color: #f9fafb;
  height: 600px;
  background-image: linear-gradient(
      rgba(17, 24, 39, 0.6),
      rgba(17, 24, 39, 0.6)
    ),
    url(../images/profile-banner.jpg);
  background-size: cover;

  /* flex settings */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
}

#banner h1 {
  font-size: 44px;
  letter-spacing: -1px;
}

#banner span {
  color: #e5e7eb;
}

/* about section */

#about {
  padding: 0;
  color: #1f2937;

  /* grid settings */
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#about h1 {
  color: #111827;
  font-size: 28px;
}

#about span {
  font-weight: 600;
}

#goal {
  padding: 52px 44px 52px 300px;
  line-height: 1.5;

  /* flex settings */
  display: flex;
  flex-direction: column;
  gap: 14px;
}

#personal-info {
  padding: 52px 300px 52px 44px;
  background-color: #f9fafb;

  /* flex settings */
  display: flex;
  flex-direction: column;
  gap: 14px;
}

#personal-info ul {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

#personal-info li {
  list-style-type: none;
}

.contact-links {
  margin-top: 18px;
  display: flex;
  gap: 18px;
}

.contact-links svg {
  width: 28px;
  height: 28px;
}
