@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

/* MAIN COLOR: #0c4a6e 
    GREY COLOR: #111827*/

/* General styles */

* {
  margin: 0px;
  padding: 0px;
  /* box-sizing: border-box; */
}

body {
  font-family: "Inter", Helvetica, sans-serif;
  color: #111827;
  line-height: 1.5;
}

h1 {
  letter-spacing: -1px;
  color: #0c4a6e;
  font-size: 28px;
}

h2 {
  font-weight: 600;
  font-size: 18px;
}

br {
  height: 0px;
}

.bg-grey {
  background: #f3f4f6;
}

section {
  padding: 52px 150px;
}

/* nav bar section */

/* LỜI NHẮN CỦA SINH VIÊN: Em xin phép để navbar lên đầu trang và không dùng border giữa các links cho hợp với các thiết kế web hiện đại ạ */
#nav-bar {
  padding-top: 8px;
  padding-bottom: 8px;

  /* flex settings */
  display: flex;
  align-items: center;
}

#nav-bar h1 {
  margin-left: 4px;
  margin-right: auto;
  font-size: 32px;
}

.nav-links {
  /* flex settings */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

#nav-bar a {
  text-decoration: none;
  color: #111827;
  padding: 12px;

  /* flex settings */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

/* Banner section */

#banner {
  color: #f9fafb;
  height: 600px;
  background-image: linear-gradient(
      rgba(17, 24, 39, 0.6),
      rgba(17, 24, 39, 0.6)
    ),
    url(../images/profile-banner.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  /* flex settings */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
}

#banner h1 {
  color: #f9fafb;
  font-size: 58px;
  letter-spacing: -2px;
}

#banner span {
  font-size: 18px;
  color: #e5e7eb;
}

/* profile pic section */

.profile-pic-container {
  height: 80px;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-pic-container img {
  border: 5px solid #0c4a6e;
  border-radius: 1000px;
  object-fit: cover;
  scale: 2;
  aspect-ratio: 1 / 1;
  height: 100%;
  width: auto;
}

/* about section */

#about {
  padding: 0;
  color: #1f2937;

  /* grid settings */
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#about span {
  font-weight: 600;
}

#goal {
  padding: 52px 44px 52px 40%;

  /* flex settings */
  display: flex;
  flex-direction: column;
  gap: 14px;
}

#personal-info {
  padding: 52px 0 52px 44px;
  background-color: #f9fafb;

  /* flex settings */
  display: flex;
  flex-direction: column;
  gap: 14px;
}

#personal-info ul {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

#personal-info li {
  list-style-type: none;
}

.contact-links {
  margin-top: 18px;
  display: flex;
  gap: 18px;
}

.contact-links svg {
  width: 28px;
  height: 28px;
}

/* job info section */

#job-info {
  padding-left: 10%;
  padding-right: 10%;

  /* grid settings */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  gap: 32px;
}

#job-info .past-acts,
#job-info .personal {
  padding: 52px 42px;
  border-radius: 8px;
  box-shadow: 0 20px 32px rgba(0, 0, 0, 0.05);

  border: 1px solid #9ca3af;
}

#job-info .title-container {
  margin-bottom: 32px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
}

.past-acts p {
  font-size: 14px;
  margin-bottom: 18px;
  color: #6b7280;
}

.past-acts .small-title {
  font-weight: 600;
  font-size: 18px;
  color: #111827;
}

.highlight {
  background-color: #0284c7;
  color: #f9fafb;
  border-radius: 32px;
  padding: 2px 16px 2px 12px;
}

.outer-ul {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.outer-ul ul {
  list-style-type: "- ";
  padding-left: 12px;

  /* flex settings */
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.hobby-container {
  display: flex;
  gap: 16px;
}

.hobby-container div {
  font-size: 15px;

  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
}

.personal .score-container {
  margin-top: 8px;
  display: flex;
  gap: 8px;
  margin-bottom: 18px;
}

.score-container:last-of-type {
  margin-bottom: 0;
}

.personal .score {
  width: 52px;
  height: 4px;
  border-radius: 100px;
}

.score.yes {
  background-color: #0284c7;
}

.score.no {
  background-color: #d1d5db;
}

/* certificates section */

#certificate h1 {
  margin-bottom: 32px;
}

#certificate h4 {
  text-transform: uppercase;
  margin-bottom: 8px;
}

#certificate .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 48px;
}

/* LỜI NHẮN CỦA SINH VIÊN: Em xin phép không thêm border mà chỉ dùng whitespace để đúng với nguyên tắc thiết kế whitespace học trong bài 13 ạ*/
.cert-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  gap: 18px;
}

.cert-container img {
  width: 186px;
  height: auto;
}

.cert-container ul {
  padding-left: 24px;
}

/* projects section */

/* LỜI NHẮN CỦA SINH VIÊN: Em xin phép không sử dụng các đường ngăn cách bên trong những ô dự án, chỉ dùng whitespace, theo quy tắc học trong bài 13 */

#project .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

.project-container {
  border: 1px solid #9ca3af;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  gap: 24px;
}

.project-container h4 {
  text-transform: uppercase;
  font-size: 18px;
}

#project img {
  border-radius: 8px 8px 0 0;
  object-fit: cover;
  width: 100%;
}

#project .content-container {
  padding: 24px;

  display: flex;
  flex-direction: column;
  gap: 32px;
}

#project .sub-title {
  display: flex;
  align-items: center;
  gap: 32px;
}

.sub-title .highlight {
  padding: 4px 16px;
}

.sub-title p {
  display: flex;
  align-items: center;
  gap: 8px;
}

#project .description-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  /* grid-template-rows: repeat(3, 1fr); */
  gap: 18px;
  row-gap: 22px;
}

.description-container ul {
  margin-left: 18px;
}

/* footer section */

#footer ul {
  list-style-type: none;
  font-size: 18px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px;
}

#footer a:link, #footer a:visited {
  color: #111827;
  text-decoration: none;
}

#footer a:hover, #footer a:active {
  color: #111827;
}

#footer a {
  display: flex;
  align-items: center;
  gap: 4px;
}