@media (max-width: 992px) and (min-width: 576px) {
  section {
    padding: 52px 18px;
  }

  #job-info {
    padding-left: 15%;
    padding-right: 15%;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  #job-info .past-acts,
  #job-info .personal {
    padding: 24px;
  }

  #certificate .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}
